streamlit
scikit-learn
joblib
requests
yfinance
transformers
spacy==3.5.4
https://files.pythonhosted.org/packages/1d/47/4fa2e6d3e054313ed0a8202ebccca1d7ab18d3ad93e1a034f3a7fc99d0d7/en_core_web_sm-3.5.0-py3-none-any.whl
